<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-bady">
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="">Multiplicar</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="n1" placeholder="numero 1" id="n1">

                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="n2" placeholder="numero 2" id="n2">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn-success btn-block">multiplicar</button>
                        </div>


                     
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    
</body>
</html>


