<nav class="nav justify-content-center"> </nav>
<a class="nav-link" href="/links/v">home</a>
<a class="nav-link" href="/links/v2">img</a>
<a class="nav-link" href="/links/operacion">multi</a>
<a class="nav-link" href="/links/factorial">factorial</a>